.contrepartie{
    .wrapper{
       display: flex;
       justify-content:center;
       padding-top: 2rem;
       flex-direction: row;

        .cardList{

            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 20px;


            .card{
                width: 572px;
        
                .card-titre{
                    background: var(--color-background-description );
                    width: 422px;
                    height: 42px;
        
                    h2{
                        font-weight: var(--font-extra-bold);
                        color: var(--color-text-titreImportant);
                        margin-left: 20px;
                    }
                }
                .card-description{
                    background-color: var(--color-background-description );
                    height: 650px;
        
                    
                    .prdouitRestant{
                        margin-left: auto;
                        margin-top: auto;
                    }
        
                    .information{
                        padding: 40px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        justify-items: center;
                        gap: 10px;

                        h6{
                            margin: 25px;
                        }

                    }
        
                    .imageInformation{
                        
                        .image1{
                            background-image: url(../assets/images/Contrepartie1.png);
                            height: 260px;
                            background-size: cover;
                            display: flex;
                            align-items: center;                
                        }

                        .image2{
                            background-image: url(../assets/images/Contrepartie2.png);
                            height: 260px;
                            background-size: cover;
                            display: flex;
                            align-items: center;                
                        }

                        .image3{
                            background-image: url(../assets/images/Contrepartie3.png);
                            height: 260px;
                            background-size: cover;
                            display: flex;
                            align-items: center;                
                        }
                        
                        
                        .produit{
                            margin-left: 50px;
                            width: 289px;
                            height: 168px;
                            background: var(--color-background-description-transparent);
                            display: flex;
                            align-items: center;
                            justify-content: center;
        
                            img{
                                opacity: 1;
                            }
                        }
        
                        .prix{
                            width: 118px;
                            height: 54px;
                            display: flex;
                            background: var(--color-background-description-transparent);
                            margin-left: auto;
                            margin-top: auto;
                            justify-content: center;
                            align-items: center;
        
                            h2{
                                text-align: center;
                                color: var(--color-text-titreImportant);
                            }
                        }
                    }
        
                   
                }
               }
        }
       
    }
}