.partie1, .partie2, .logoFooter, .linksFooter{
    display: flex;
}

footer{
    margin-top: 200px;
    background-color: #0A142F;
    color: white;
}

.partie1, .partie2{
    orientation: landscape;
    justify-content: space-between;
    margin-right: 200px;
    margin-left: 200px;
}

.partie1{
    margin-bottom: 50px;
}

.logoFooter{
    align-items: center;
}