main{

    .image1{
      position: absolute;
      z-index: -1;
      top: 45%;
    }
    .image2{
      position: absolute;
      z-index: -1;
      top: 30%;
      right: 0%;
    }

    .background-container {
      position: relative;
        
      .button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        margin-bottom: 1.5%;
        right: 42%;
        gap: 5%;
        background: var(--color-button-background);
        img {
            width: 24px;
        }

        .button-contribuer {
            display: flex;
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
            background: var(--color-text-menu); /* Set the background color to white */
            border-radius: 50px;
            h6{
              color: var(--color-text-connexion ); /* Set the text color to black */

            } /* Make the background rounded */
            width: 12rem;
            height: 40px;
        }
    }

      .bacgroundImage {
        display: block;
        //centrer position
        margin-left: auto;
        margin-right: auto;
      }

      .overlay-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    
      .content-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
        .sub-container1{
            background: var(--color-background-carte);
            opacity: 0.85;
            width: auto; 
            height: 100px;
            margin-right: 30%;  
            h2{
                padding-left: 10px;
                padding-right: 10px;
                color: var(--color-text-titreImportant);
            }
        }

        .sub-container2 {
            background: var(--color-background-carte);
            width: 71rem;
            height: 31rem;
            display: flex;
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
            flex-direction: column;
            
            .description {
              z-index: 1;
              margin-bottom: 14rem;
              background: var(--color-background-description);
              width: 55rem;
              height: 6rem;
              display: flex;
              justify-content: center;
              align-items: center; /* Center vertically */
              margin-top: 3rem; /* Adjust the margin-top value as needed */
              
              h6 {
                margin-bottom: 15px;
                text-align: center; /* Center the text horizontally */
                
                b {
                  font-weight: var(--font-extra-bold);
                }
              }
            }

            .imagePrincipal{
                position: absolute;
                bottom: 10%;
                left: 18%; /* Center horizontally */
                width: 100%; /* Adjust the width as needed */
                z-index: 0;
                opacity: 1;
            }

            .info {
                position: relative;
                margin-top: 60px;
                display: flex;
                gap: 20px;
                align-items: center; /* Center the info section horizontally and vertically */
                h6 {
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    color: var(--color-text-descriptif);
                    b{
                        font-weight: var(--font-extra-bold);
                    }
                }
            }
          }
      }

      .text-container {
        position: absolute;
        top:50%;
        left: 19.8%;
        transform-origin: bottom left;
        transform: rotate(-90deg);
        /* Ajoutez d'autres styles au besoin */

      }

      .text-container2 {
        position: absolute;
        opacity: 0.95;
        height: 13rem;
        width: 29rem;
        display: flex;
        bottom: 0;
        right: 11.25%;
        z-index: 0;
        transform-origin: bottom left;
        background: var(--color-background-special);
        h2{  
            margin-right: -400px;
            margin-left: 70px;
            margin-top: 15%;
            position: absolute;
            color: var(--color-text-titreImportant);
            line-height: 1.6;
        }
        /* Ajoutez d'autres styles au besoin */

      }

    }

    .contribution{
      width: 92rem;
      height: 7rem;
      margin-top: 39px;
      margin-left: 11.5%;
      display: flex;
      text-align: center;
      background: var(--color-background-special);
      align-items: center;
      justify-content: center;
      gap: 5%;
      h2{

        color: var(--color-text-descriptif);
        text-align: center;
        b{
          font-weight: 800;
        }
      }
    }
    
  }
  