header {
    background-color: var(--color-background-header);
    
    .wrapper {
      
      width: 100%;
      
     
      .headerSansConnexion{
        
        display: flex;
        justify-content: space-around;
        margin-top: -30px;
        align-items: center; /* Center items vertically */
        .logo {
          
        display: flex; /* Make the anchor tag a flex container */
        align-items: center; /* Center its children vertically */
        p {
          color: var(--color-text-menu);
          font-size: var(--font-size-medium);
          font-family: var(--font-titre);
        }
        img {
          margin-right: 10px; /* Adjust margin for spacing between image and text */
        }
      }
  
      .search {

        display: flex;
        align-items: center;
        background-color: white; /* Add white background */
        border-radius: 20px; /* Add border-radius to make corners rounded */
        width: 300px;
        height: 50px;
  
        img {
          margin-right: 10px; /* Adjust margin for spacing between image and text */
        }
  
        p {
          color: var(color-text-search);
        }
      }
  
      nav {

        ul.menu {
          list-style: none;
          padding: 0;
          text-align: center;
  
          li {
            display: inline;
            margin: 0 10px; // Espacement horizontal entre les éléments li
          }
  
          a {
            text-decoration: none;
            font-size: var(--font-size-regular);
            font-family: var(--font-texte);
            color: white; // Set text color to white
          }
        }
      }
      }

      
  
      .login-buttons {
        text-align: right;
        padding-top: 10px;
        .button-list {
          //aligne les bouton a droite a la list
          display: flex;
          justify-content: flex-end;
          list-style-type: none;
          margin-top: 0;
          margin-right: 4%;
          li {
            display: inline;
            a.button {
              font-size: var(--font-size-regular);
              font-family: var(--font-texte);
              text-decoration: none;
              color: var(--color-text-menu);
              background-color: var(--color-button-background);
              padding: 5px 10px;
              border-radius: 5px;
  
              &.buttonsPrincipal {
                background-color: var(--color-text-menu); // White background
                color:var(--color-text-connexion); // Black text color
                border-radius: 45px; // Rounded corners
              }
            }
          }
        }
      }
      
    }
  
   
  }
  