/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    --color-background : linear-gradient(45deg ,#3D3D41 87%, #2B2B2D 100%);
    --color-background-header : #101820;
    
    --color-text-menu : #FFFFFF;
    --color-text-search : #3C3C43 50%;
    --color-text-connexion : #000000;

}
