/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    --color-background : linear-gradient(45deg ,#3D3D41 87%, #2B2B2D 100%);
    --color-background-header : #101820;
    --color-background-carte : #171717;
    --color-background-description : #1A1A1B;
    --color-background-description-transparent : #1a1a1bc9;

    --color-background-special : #181A1A 95%;
    
    --color-text-menu : #FFFFFF;
    --color-text-search : #3C3C43 50%;
    --color-text-connexion : #000000;

    --color-text-titreImportant : #CCF381;
    --color-text-descriptif : #FFFFFF;

}
