/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Baloo 2', Helvetica, Arial, sans-serif;
    --font-secondary: 'Libre Baskerville', Helvetica, Arial, sans-serif;

    --font-Inconsolata: Inconsolata, sans-serif;
    --font-Inkut: Inknut Antiqua, serif;

    --font-size-content: 1rem;
    --font-size-button: 1.25rem;

    /// Grosseur des textes
    --font-size-regular: 1.5rem;
    --font-size-medium: 2rem;
}
